.env
.pytest_cache/
__pycache__/
*.py[cod]

front/node_modules/
front/.next/
front/.turbo/

volumes/postgres-data/*
volumes/elastic-data/*
volumes/redis-data/*
volumes/portainer-data/*
volumes/nginx-data/*
!volumes/**/.gitkeep

infra/nginx/nginx-proxy-manager/data/*
infra/nginx/nginx-proxy-manager/letsencrypt/*
infra/portainer/data/*
!infra/nginx/nginx-proxy-manager/data/.gitkeep
!infra/nginx/nginx-proxy-manager/letsencrypt/.gitkeep
!infra/portainer/data/.gitkeep
